.body {
  background-image: url("https://images.pexels.com/photos/4791137/pexels-photo-4791137.jpeg?cs=srgb&dl=pexels-dids-4791137.jpg&fm=jpg");
}
.domain_generator {
  width: 30rem;
  margin: auto;
  text-align: center;
  opacity: 0.5;
  background: black;
  color: greenyellow;
}
